@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 60px;
    --container-width: 1200px;
    --body-bg-color: white;
    --text-color: black;
}

.dark {
    --body-bg-color: #202124;
    --text-color: white;
}

@layer components {
    .ct {
        width: var(--container-width);
    }
    @media screen and (max-width: 1230px) {
        .ct {
            width: calc(100% - 30px);
            margin: 0 15px;
        }
    }
}

html, body{
    height: 100%;
    font-size: 14px;
    background: var(--body-bg-color);
    color: var(--text-color);
}

@keyframes ldio-frdn0640fr6 {
    0% { background: #f8b26a }
    12.5% { background: #f8b26a }
    12.625% { background: #e15b64 }
    100% { background: #e15b64 }
}
.ldio-frdn0640fr6 div {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #e15b64;
    animation: ldio-frdn0640fr6 1s linear infinite;
}
.loadingio-spinner-blocks-ti6nf0unbji {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-frdn0640fr6 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-frdn0640fr6 div { box-sizing: content-box; }
